$navbar-bg: #0d0b11;
$header-bg: #161828;
$header-bg-block: #212331;
$header-bg-block-shadow: #1a1b2b;
$button-bg: #ea5b58;
$button-bg-hover: #e94c49;
$light-blue-bg: #475a85;
$white: #efefef;
$black: #000;
$grey: #a7a7a7;
$light-grey: #d1d1d1;
