@import "colors";

h1,
h2,
h3,
h4,
p,
a {
  color: $white;
}

.btn {
  width: 145px;
  height: 54px;
  background: $button-bg;
  border: none;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
}

.line {
  background: $white;
  width: 281px;
  height: 1px;
  margin: 0 auto;
  position: relative;
}

.line:before {
  content: "";
  position: absolute;
  background: $white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: -6px 0px;
}

.line:after {
  content: "";
  position: absolute;
  background: $white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: -6px 268px;
}
